* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-size: 14px;
font-family: sans-serif;
}

body{
    background-color: #fafafa;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
width: 60%;
height:100vh;
display: flex;
justify-content: start;
align-items: center;
}

.col-cellphone {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .cellphone{
      height: 50rem;
  }  

.col-content{
    width: 50%;
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column; /* colunas */
    min-height: 34rem;
}    


.login{
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    margin: 20px;
    height: 3rem;
}

.avatar{
    border-radius: 50%;
    margin-bottom: 20px;
    height: 6rem;
}

.button{
    height: 2rem;
    width: 70%;
    background-color: #0095F6;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-weight: bold;
}

.button a{
    text-decoration: none;
    color: #FFF;
}

.remove{
    height: 2rem;
    font-weight: bold;
    margin-top: 30px;
}

.remove a{
    text-decoration: none;
    color:#0095F6;
}

.signup{
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    padding:20px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.signup a{
    text-decoration: none;
    color:#0095F6;
    font-weight: bold;
}

.getapp{
    padding:20px;
    text-align: center;
    width: 100%;
}

.download {
display: flex;
justify-content:center;
align-items: center;
width: 100%;
}

.store{
    width: 10rem;
    height: 2.9rem;
    background-size: cover;
    margin: 5px;
}

.store:nth-child(1){
    background-image: url("img/apple-button.png");
}

.store:nth-child(2){
    background-image: url("img/googleplay-button.png");
}


/* media queries */

@media(max-width:1024px){
.wrapper{
    width: 90%;
}

@media(max-width:650px){
    body{
        background-color: #FFF;
    }

    .wrapper{
        width: 90%;
    }

    .col-cellphone{
        display: none;
    }

    .col-content{
        width: 100%;
    }

    .login, .signup {
        border: 1px solid transparent;
    }

